<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2><a href="{{flare.url}}">{{flare.title}}</a></h2>
		<p>{{flare.synopsis}}</p>
	</div>
</div>


<div class="card mt-3 mb-3">
	<div class="card-body">
		<h2 class="card-title">
			<a href="/flares/{{flare._id}}">
				{{flare.title}}
			</a>
		</h2>
		<h3 class="card-subtitle mb-2 text-muted">
			Placeholder Content {{!-- upvotes, downvotes, comments, views, etc --}}
		</h3>
		<p class="card-text">{{this.synopsis}}</p>
	</div>
</div>